.header{
	width:  100%;
	height: 80px;
	display: block;
	background-color: #ffff;
	position: fixed;
	box-shadow: 5px 5px 3px 5px #12101010;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	transition: all 0.3s ease;
}

.inner_header{
	width: 80%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 80%;
	display: table;
	float: left;
}

.logo_container h1{
	color: #4d4d4d;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: 200;
}

.logo_container h1 span{
	font-weight: 800;
}

.navigation{
	float: right;
	height: 100%;
}

.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 25px;
	transition: all 0.3s ease;

}

.navigation a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: #4d4d4d;
	font-family: Helvetica;
	font-size: 20px;
}

.navigation a:hover{
	background-color: #ebebeb;
}

.navigation a li:hover{
	color: #2d4532;
}

body{
	background-color: #f5f5f5;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}